services:
  node1:
    build: .
    container_name: dtt-node1
    environment:
      - RUST_LOG=info
    command: sh -c "e2e_test"

  node2:
    build: .
    container_name: dtt-node2
    environment:
      - RUST_LOG=info
    command: sh -c "sleep 10 && e2e_test"
    depends_on:
      - node1


  node3:
    build: .
    container_name: dtt-node3
    environment:
      - RUST_LOG=info
    command: sh -c "sleep 20 && e2e_test"
    depends_on:
      - node1
