services:
  node1:
    build: .
    container_name: dtt-node1
    environment:
      - RUST_LOG=info

  node2:
    build: .
    container_name: dtt-node2
    environment:
      - RUST_LOG=info

  node3:
    build: .
    container_name: dtt-node3
    environment:
      - RUST_LOG=info
