name: Tests

on:
  push:
    branches: [ main ]

  # always on pullrequest
  pull_request:
    types: [opened, synchronize, reopened, edited]


env:
  CARGO_TERM_COLOR: always

jobs:
  e2e-test:
    name: End-to-End Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker build -t distributed-topic-tracker .
    
    - name: Run end-to-end test
      run: COMPOSE_FILE=docker-compose-experimental.yaml ./test-e2e.sh
      
  e2e-test-experimental:
    name: End-to-End Tests (Experimental)
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker build -t distributed-topic-tracker --file Dockerfile.experimental .
    
    - name: Run end-to-end test
      run: COMPOSE_FILE=docker-compose-experimental.yaml ./test-e2e.sh

